<!DOCTYPE html>
<html>
<head>
<title>Add Doctor</title>
<link rel="stylesheet" href="/css/addDoctor.css">
</head>
<body>
    


<div class="form-container">

<h2>Add Doctor</h2>

<form method="POST" action="/add-doctor" enctype="multipart/form-data">

<input name="name" placeholder="Doctor Name" required>

<input name="specialization" placeholder="Specialization" required>

<input name="experience" placeholder="Experience" required>

<input name="fees" placeholder="Fees" required>

<input type="file" name="image" required>

<button>Add Doctor</button>

</form>

</div>

</body>
</html>